
html, body {
    margin: 32;
    padding: 32;
    background-color: #F2EFEF;
}

/* header*/
.main-header {
    color: #D73B60;
    text-align: center;
    text-transform: uppercase;
}

/* image */
.main-image {
    text-align: center;
}

/* Navigation bar */
.nav {
    text-align: center;
}
.nav ul {
    margin: 0;
}
.nav li {
    display: inline;
    padding: 0 2%;
}
.nav a {
    color: #808080;
    text-decoration: none;
    text-transform: uppercase;
    display: inline-block;
}
.nav a:hover {
    background-color: rgba(255, 255, 255, .3);
}
.main-nav {
    font-size: 1.1em;
    text-align: center;
    border-top: 2px solid rgba(200, 200, 200, .3);
    border-bottom: 2px solid rgba(200, 200, 200, .3);
}

.main-button {
    text-align: center;
}

/* main footer.*/
.main-footer {
    color: #C0C0C0;
    text-align: center;
}

/* ------------------------------------ */

/* MEDIA QUERY */

@media (min-width: 200px) and (max-width: 480px ) {
	nav {
    display: none;
	}
}
